// ======================================================
// Layout :: Content
// ======================================================

.title-sc{
    font-weight: 600;
    font-size: 35px;
    line-height: 39px;
    @include laptop{
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }
    @include tablet-horizontal{
        font-size: 29px;
        line-height: 32px;
    }
    @include tablet{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 25px;
    }
    @include mobile-horizontal{
        font-size: 22px;
        line-height: 25px;
    }
    @include mobile{
        font-size: 18px;
        line-height: 22px;
    }
    span{
        color: #FF5C1D;
    }
}

.sc-outstanding{
    padding: 204px 0 75px;
    @include laptop{
        padding: 160px 0 55px;
    }
    @include tablet{
        padding: 150px 0 35px;
    }
    @include mobile-horizontal{
        padding: 70px 0 25px;
    }
    @include mobile{
        padding: 69px 0 29px;
    }

    .title-sc{
        margin-bottom: 54px;
        @include laptop{
            margin-bottom: 40px;
        }
        @include tablet{
            margin-bottom: 20px;
        }
        @include mobile{
            margin-bottom: 11px;
            width: 52%;
        }

    }
}
.cs-col-mb {
    @include tablet{
        margin-bottom: 24px;
    }
    @include mobile{
        margin-bottom: 10px;
    }
}
.block-job{
    @include mobile{
        display: flex;
        overflow-x: auto;
        padding-top: 10px;
        padding-left: 10px;
        .row{
            flex-wrap: unset;
        }
        .cs-col-mb{
            width: 163px;
            padding: 0 8px;
        }
    }
    .box-job{
        transition: all 0.3s ease-in-out;
        margin-bottom: 15px;
        &:first-child{
            border-radius: 8px 0 8px 0;
        }
        &:hover{
            color: currentColor;
            transform: translateY(-10px);
            transition: all 0.3s ease-in-out;
            @include mobile{
                transform: translateY(0);
            }
        }
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        height: 100%;
        padding: 30px 31px 16px;
        @include tablet-horizontal{
            padding: 20px 20px 16px;
        }
        @include tablet{
            padding: 10px 8px 8px;
        }
        @include mobile{
            margin-bottom: 0;
        }


        .img-job{
            margin-bottom: 62px;
            @include laptop{
                margin-bottom: 30px;
            }
            @include tablet-horizontal{
                margin-bottom: 21px;
            }
            @include tablet{
                width: 45px;
                margin-bottom: 10px;
            }
            @include mobile{
                width: 31px;
                margin-bottom: 24px;
            }
        }
        .txt-job{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #666666;
            margin-bottom: 9px;
            @include tablet-horizontal{
                font-size: 17px;
                line-height: 21px;
            }
            @include mobile{
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 6px;
            }
        }
        .title-job{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 12px;
            text-transform: uppercase;
            @include tablet{
                font-size: 18px;
                line-height: 22px;
            }
            @include mobile{
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 10px;
            }
        }
        .number-job{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FF5C1D;
            @include mobile{
                font-weight: 500;
                font-size: 8.85106px;
                line-height: 11px;
            }

        }
    }
    .other-job{
        background: #FF5C1D;
        margin-bottom: 15px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px 0 8px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        color: #fff;
        transition: all 0.3s ease-in-out;
        img{
            margin-bottom: 23px;
            @include mobile{
                margin-bottom: 5px;
                width: 31px;
            }
        }
        div{
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
            @include tablet-horizontal{
                font-size: 17px;
                line-height: 21px;
            }
            @include mobile{
                font-size: 13px;
                line-height: 16px;
            }
        }
        &:hover{
            transform: translateY(-10px);
            transition: all 0.3s ease-in-out;
        }
    }
}
.flex-cs-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @include mobile{
        display: block;
    }
}

//end style sc-outstanding


.sc-jobforyou{
    background: #FBFAFF;
    padding: 55px 0 100px;

    .title-sc{
        margin-bottom: 49px;


    }
    @include laptop{
        padding: 55px 0 75px;
        .title-sc{
            margin-bottom: 30px;
            @include tablet{
                margin-bottom: 20px;
            }
            @include mobile{
                margin-bottom: 24px;
            }
        }
    }
    @include tablet{
        padding: 40px 0 70px;
    }
    @include mobile{
        padding: 37px 0 52px;

    }

}
.flex-reverse-cl{
    @include mobile{
        flex-direction: column-reverse;
    }
}
.link-viewall{
    color: #666666;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    transition: all 0.2s ease-in-out;
    @include tablet-horizontal{
        font-size: 16px;
        line-height: 22px;
    }
    @include tablet{
        margin-bottom: 25px;
    }
    @include mobile{
        justify-content: flex-start!important;
        margin-top: 16px;
        margin-bottom: 32px;
        font-size: 14px;
        line-height: 19px;
    }
    span{
        margin-right: 8px;
    }
    &:hover{
        color: #FF5C1D;
        transition: all 0.2s ease-in-out;
    }
}
.list-job{
    margin-bottom: 8px;
    .item-job{
        position: relative;
        display: block;
        padding: 15px 32px 8px 21px;
        border-radius: 8px 0 8px 0 ;
        background: #FBFAFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;
        height: 100%;
        @include tablet-horizontal{
            padding: 15px 28px 8px 15px;
        }
        @include mobile{
            margin-bottom: 8px;
            padding: 15px 28px 5px 12px;
        }

        span{
            display: block;
        }
        &:hover{
            background: #fff;
            transition: all 0.2s ease-in-out;
            .name-company{
                color: #333;
                transition: all 0.2s ease-in-out;
            }
        }
        >span{

        }
    }
}
.flex-left{
    display: flex;
}
.logo-job{
    margin-right: 15px;
    @include tablet-horizontal{
        margin-right: 10px;
    }
    a{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        @include tablet-horizontal{
            width: 40px;
            height: 40px;
        }
        @include mobile{
            width: 31px;
            height: 31px;
        }
        &:before{
            @include resize-before(100%);

        }
        img{
            @include resize-img;
            object-fit: cover;
        }
    }
}
.tag-new{
    color: #FF5C1D;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    border-radius: 3px 0 3px 0;
    background: #FFE3D8;
    margin-right: 5px;
    padding: 3px 5px;
    display: inline-block;
}
.info-job{
    width: 100%;
    .title-jobforyou{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 7px;
        color: #161616;
        @include tablet-horizontal{
            font-size: 15px;
            line-height: 19px;
        }
        @include mobile{
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 5px;
        }
        a{
            display: flex;
            align-items: center;
            &:hover{
                color: #161616;
                span{
                    text-decoration: underline;
                }
                .tag-new{
                    text-decoration: none;
                }
            }
        }
    }
    .name-company{
        color: #333;
        margin-bottom: 24px;
        font-size: 13px;
        @include tablet-horizontal{
            margin-bottom: 13px;
        }
    }
    .info-bot{
        display: flex;
        > span{
            display: inline-flex;
            align-items: center;
            margin-bottom: 8px;
            margin-right: 26px;
            @include tablet-horizontal{
                margin-right: 14px;
                font-size: 13px;
            }

            &:last-child{
                margin-right: 0px;
            }
            img{
                margin-right: 5px;
            }
            .nb-money{
                color: #3299DC;
                font-weight: 600;
                margin-bottom: 0;
            }
        }
    }
}
.flag{
    position: absolute;
    top: 11px;
    right: 14px;
    width: 14px;
    height: 18px;
    cursor: pointer;
    @include mobile{
        right: 13px;
    }
    &:before{
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 14px;
        height: 18px;
        background: url("../img/flag.svg") no-repeat center center;
        background-size: cover;
    }
    &.active{
        &:before{
            background: url("../img/flagactive.svg") no-repeat center center;
        }
    }
}
.btn-recruitment{
    position: absolute;
    bottom: 23px;
    right: 14px;
    padding: 10px 21px 11px;
    font-weight: 600;
    color: #fff;
    display: inline-flex;
    border-radius: 8px 0 8px 0;
    transition: all 0.2s ease-in-out;

    background: #FF5C1D;
    @include tablet-horizontal{
        padding: 8px 13px 9px;
    }
    @include mobile{
        bottom: 12px;
        right: 16px;
    }
    &:hover{
        color: #fff;

        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }
}

.list-job-hot{
    @include mobile{
        display: flex;
    }
}
.item-job-hot{
    position: relative;
    background: #FBFAFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 12px 23px 33px 23px;
    border-radius: 8px 0 8px 0;
    margin-bottom: 16px;
    transition: all 0.2s ease-in-out;
    @include tablet-horizontal{
        padding: 12px 14px 20px 14px;
    }
    @include mobile{
        width: 295px;
        margin-bottom: 0;
        margin-right: 16px;
        padding: 15px 16px 57px 16px;
    }
    &:hover{
        background: #fff;
        transition: all 0.2s ease-in-out;
        .name-company{
            color: #333;

        }
    }
    //.logo-job{
    //    text-align: center;
    //    margin-right: 0;
    //    margin-bottom: 27px;
    //    a{
    //        margin: 0 auto;
    //        width: 49px;
    //        height: 49px;
    //    }
    //}
    .sub-hot{
        color: #666666;
        line-height: 19px;
        margin-bottom: 13px;
    }
    .title-jobforyou{
        margin-bottom: 8px;
    }
    .name-company{
        margin-bottom: 8px;
    }
    .info-bot{
        display: block;
        @include mobile{
            display: flex;
        }
        >span{
            display: block;
            margin-right: 0;
            margin-bottom: 10px;
            @include mobile{
                margin-right: 15px;
                margin-bottom: 0;
            }
        }
    }
}
.viewall{
    margin: 32px 60px;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    &:hover{
        text-decoration: underline;
    }
}

.recruitment{
    margin-top: 82px;
    @include laptop{
        margin-top: 45px;
    }
    @include mobile{
        margin-top: 0;
    }
    .swiper-pagination{
        left: 50%;
        transform: translateX(-50%);
        margin-top: 32px;
        @include laptop{
            margin-top: 18px;
        }
        @include mobile{
            margin-top: 10px;
        }
        .swiper-pagination-bullet{
            width: 7px;
            height: 7px;
            margin-right: 8px;
            &:last-child{
                margin-right: 0;
            }

            &.swiper-pagination-bullet-active{
                background: #FF5C1D;
                width: 24px;
                border-radius: 35px;
            }
        }
    }
}
.block-job-hot{
    padding: 2px;
    overflow-y: auto;
    min-height: 300px;
    margin-bottom: 20px;

    @include tablet{
        min-height: auto;
        margin-bottom: 0px;
    }
    @include mobile{
        overflow-x: auto;
        display: flex;
    }
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 10px;
        @include mobile{
            height: 3px;
        }
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 10px;
        @include mobile{
            background: transparent;
        }
    }
    &::-webkit-scrollbar-thumb {
        background: #C8C8C8;
        border-radius: 10px;
   }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

//end style section job for you

.sc-looking-candidates{
    padding: 137px 0 101px;
    background: url("../img/bg-looking.png") no-repeat top right;
    @include laptop{
        padding: 80px 0 60px;
    }
    @include tablet-horizontal{
        padding: 55px 0 55px;

    }
    @include tablet{
        padding: 35px 0 35px;

    }
    @include mobile{
        padding: 48px 0 ;
        background: url('../img/bg-looking.png') no-repeat bottom -70px right -15px;
        background-size: 264px;
    }
    .title-sc{
        margin-top: 38px;
        margin-bottom: 57px;
        width: 60%;
        @include laptop{
            margin-top: 27px;
            margin-bottom: 35px;
        }
        @include tablet-horizontal{
            width: 68%;
            margin-bottom: 30px;
        }
        @include tablet{
            margin-top: 0;
            margin-bottom: 25px;
        }
        @include mobile{
            margin-bottom: 16px;
        }
    }
}

.sub-looking{
    margin-bottom: 66px;
    @include tablet-horizontal{
        margin-bottom: 40px;
    }

    @include tablet{
        margin-bottom: 30px;
    }
    @include mobile{
        overflow: hidden;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
        display: -webkit-box;
        text-align: justify;
        margin-bottom: 66px;
    }
    p{
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 131.9%;
        width: 96%;
        @include tablet-horizontal{
            margin-bottom: 25px;
        }
        @include tablet{
            margin-bottom: 20px;
        }
    }
}
.btn-find-cadidates{
    background: #FF5C1D;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 134.9%;
    color: #FFFFFF;
    border-radius: 8px 0 8px 0 ;
    width: 408px;
    height: 77px;
    transition: all 0.2s ease-in-out;
    @include laptop{
        height: 67px;
    }
    @include tablet-horizontal{
        height: 58px;
        font-size: 17px;
    }
    @include tablet{
        height: 50px;
        font-size: 16px;
        margin-bottom: 35px;
    }
    @include mobile{
        width: 100%;
        height: 54px;
        font-size: 18px;
        line-height: 134.9%;
        margin-bottom: 31px;
    }

    &:hover{
        color: #fff;
        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }
    img{
        margin-right: 9px;
        @include tablet-horizontal{
            width: 35px;
        }
        @include mobile{
            width: 32px;
        }
    }
}

.list-criteria{
    .item-criteria{
        margin-right: 25px;
        margin-bottom: 10px;
        display: inline-block;
        width: 238px;
        height: 270px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 0 21px 15px;
        float: left;
        @include tablet-horizontal{
            margin-right: 21px;
            margin-bottom: 5px;
            width: 214px;
            height: 260px;
        }
        @include tablet{
            width: 232px;

        }
        @include mobile{
            width: 156px;
            height: 202px;
            padding: 0 16px 15px;
            margin-right: 16px;
            margin-bottom: 0;
        }
        &:nth-child(2),&:nth-child(4){
            margin-right: 0;
        }
        &:nth-child(2){
            margin-top: 18px;
            @include mobile{
                margin-top: 16px;
            }
        }
        &:nth-child(4){
            margin-top: 18px;
            @include mobile{
                margin-top: 16px;
            }
        }
        .img-criteria{
            background: #FF5C1D;
            width: 84px;
            height: 86px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 0 50% 50%;
            margin: 0 auto 10px;
            @include tablet-horizontal{
                width: 80px;
                height: 82px;
            }
            @include mobile{
                width: 48px;
                height: 49px;
            }
            &.img-criteria-blue{
                background: #3299DC;
            }
            img{
                @include tablet-horizontal{
                    width: 40%;
                }
                @include mobile{
                    width: 50%;
                }
            }
        }
        .title-criteria{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #161616;
            margin-bottom: 24px;
            @include tablet{
                font-size: 17px;
                line-height: 21px;
                margin-bottom: 18px;
            }
            @include mobile{
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 8px;
            }

        }
        .sub-criteria{
            line-height: 131.9%;
            text-align: justify;
            @include mobile{
                font-size: 12px;
                line-height: 131.9%;
            }
        }
    }

}

//end style sc-looking-candidates

.sc-contact{
    padding: 83px 0 94px;
    background: url("../img/bg-contact-opacity.png") no-repeat left center, url("../img/bg-contact.png") no-repeat center ;
    background-size: cover;
    color: #fff;
    position: relative;

    @include mobile{
        padding: 43px 0 42px;
        background: url("../img/ct-mb.svg") no-repeat left center, url("../img/bg-contact.png") no-repeat center;
        background-size: cover;
    }
}
.head-contact{
    .title-contact{
        font-weight: 600;
        font-size: 69.7652px;
        line-height: 85px;
        text-transform: uppercase;
        @include laptop{
            font-size: 57.7652px;
            line-height: 65px;
        }
        @include tablet-horizontal{
            font-size: 45.7652px;
            line-height: 60px;
        }
        @include tablet{
            font-size: 35.7652px;
            line-height: 48px;
        }
        @include mobile{
            font-size: 25px;
            line-height: 30px;
        }
    }
    .sub-contact{
        font-weight: 500;
        font-size: 35px;
        line-height: 43px;
        @include laptop{
            font-size: 30px;
            line-height: 35px;
            margin-top: 6px;
        }
        @include tablet{
            font-size: 22px;
            line-height: 26px;
        }
        @include mobile{
            margin-top: 5px;
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 28px;
        }
    }

}
.flex-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include mobile{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 33%;
    }
    .item-contact{
       display: flex;
        align-items: flex-start;
        img{
            margin-right: 27px;
            margin-top: 6px;
            @include tablet{
                margin-right: 15px;
                width: 23px;
            }
            @include mobile{
                width: 24px;
                margin-top: 1px;
            }
        }
        .nb-phone{
            font-weight: 600;
            font-size: 38px;
            line-height: 46px;
            margin-bottom: 15px;
            @include laptop{
                font-size: 33px;
                line-height: 37px;
            }
            @include tablet-horizontal{
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 10px;
            }
            @include tablet{
                font-size: 22px;
                line-height: 29px;
                margin-bottom: 6px;
            }
            @include mobile{
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 5px;
            }
        }
        .subfo-nb{
            font-size: 16px;
            line-height: 20px;
            color: #DADADA;
            @include mobile{
                margin-bottom: 25px;
            }
        }
    }
}
.contact-us{
    position: absolute;
    left: 0;
    bottom: -29px;
    width: 100%;
    @include mobile{
        bottom: -21px;
    }
    .box-contact{
        position: relative;
        @include mobile{
            text-align: right;


        }
        input{
            background: #FFFFFF;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 79px;
            border-radius: 25px 0 25px 0;
            border: none;
            padding: 0 150px 0 54px;
            @include laptop{
                height: 70px;
            }
            @include tablet{
                height: 55px;
                padding: 0 90px 0 25px;
            }
            @include mobile{
                height: 48px;
                width: 285px;
                padding: 0 70px 0 19px;
                border-radius: 20px 0 20px 0;

            }
            &::placeholder{
                color: #666666;
                font-size: 18px;
                line-height: 22px;
                @include tablet{
                    font-size: 16px;
                    line-height: 20px;
                }
                @include mobile{
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
        .btn-send{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 144px;
            background: #FF5C1D;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            border-bottom-right-radius: 25px;
            border: none;
            transition: all 0.2s ease-in-out;
            @include tablet{
                width: 80px;
                img{
                    width: 25px;
                }
            }
            @include mobile{
                border-bottom-right-radius: 20px;

                width: 68px;
                img{
                    width: 20px;
                }
            }
            &:hover{
                background: #fd7a47;
                transition: all 0.2s ease-in-out;
            }
        }
    }
}
.sc-partner{
    padding: 127px 0 71px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
    @include laptop{
        padding: 75px 0 50px;
    }
    @include tablet{
        padding: 51px 0 30px;
    }
    @include mobile{
        padding: 53px 0 33px;
        .container{
            padding: 0;
        }
    }
}
.partner{
    .swiper-pagination{
        display: none;
    }
}

//end style section partner

.sc-news{
    position: relative;
    padding: 55px 0 92px;
    //background: url("../img/bg-news.png") no-repeat bottom right;
    @include tablet{
        padding: 35px 0 50px;
    }
    @include mobile{
        padding: 35px 0 74px;

    }

    .title-sc{
        margin-bottom: 49px;
        @include laptop{
            margin-bottom: 30px;
        }
        @include mobile{
            margin-bottom: 23px;
        }
    }
    .bg-new{
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(57%);
        @include mobile{
            transform: translateY(55%);
            width: 218px;
        }
    }
}
.box-news{
    border-radius: 8px;
    @include tablet{
        margin-bottom: 23px;
    }
    .title-sc{

    }
    .img-news{
        overflow: hidden;
        position: relative;
        display: block;
        &:before{
            @include resize-before(64.22%);
        }
        img{
            @include resize-img;
            object-fit: cover;
        }
    }
}
.br-8{
    border-radius: 8px;
    @include mobile{
        height: 149px;
        object-fit: cover;
    }
}
.time-news{
    display: flex;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 21px;
    @include mobile{
        margin-bottom: 8px;
    }
    img{
        margin-right: 11px;
    }
    span{
        display: inline-flex;
        align-items: center;
        color: #393939;
        @include mobile{
            color: #000;
        }
        &.kind-news{
            color: #3299DC;
            font-weight: 500;
        }
    }
}
.info-news{
    padding: 15px 18px 43px;
    background: #FBFAFF;
    border-radius: 0 0 8px 8px;
    @include tablet{
        padding: 15px 15px 30px;
    }
    @include mobile{
        padding: 18px 8px 21px;
    }

    .divider-line{
        margin: 0 16px;
    }
    .title-news{
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #393939;
        margin-bottom: 20px;
        @include mobile{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 11px;
        }

        a{
            color: #393939;
            overflow: hidden;
            /* -webkit-box-orient: vertical; */
            white-space: normal;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            transition: all 0.2s ease-in-out;
            &:hover{
                color: #FF5C1D;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    .sub-news{
        color: #313435;
        font-size: 16px;
        line-height: 21px;
        overflow: hidden;
        /* -webkit-box-orient: vertical; */
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        @include mobile{
            font-size: 14px;
            line-height: 18px;
        }
    }
}

.list-news{
    li{
        display: flex;
        margin-bottom: 24px;
        @include mobile{
            margin-bottom: 16px;
        }
        .img-news-list{
            display: block;
            width: 124px;
            margin-right: 20px;
            height: 84px;
            @include mobile{
                width: 105px;
                height: 71px;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .news-list-right{
            width: calc(100% - 144px);
            @include mobile{
                width: calc(100% - 122px);

            }
            img{
                width: 11px;
            }
            span{
                font-size: 13px;
                line-height: 17px;
            }
            .divider-line{
                margin: 0 8px 0 11px;
            }
            .kind-news{
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
            }
            .title-sidebar{
                font-size: 14px;
                line-height: 18px;
                a{
                    color: #313435;
                    width: 50%;
                }
                @include mobile{
                    font-size: 12px;
                    line-height: 16px;
                    margin-bottom: 0    ;
                }
                a{
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        color: #FF5C1D;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
            @include mobile{
                .time-news{
                    margin-top: 6px;
                    margin-bottom: 7px;
                    font-size: 10px;
                    line-height: 13px;
                }
            }
        }
    }
}
.bg-violet{
    background: #FBFAFF;
    border-radius: 8px;
    padding: 24px 16px 55px;
    position: relative;
    @include  mobile{
        padding: 21px 13px 55px;
    }

}
.viewmore{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    width: 200px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF5C1D;
    height: 51px;
    transition: all 0.2s ease-in-out;
    border-radius: 8px 0 8px 0;

    @include tablet{
        width: 175px;
        font-size: 16px;
        line-height: 20px;
        height: 45px;
    }
    &:hover{
        color: #fff;
        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }
    img{
        margin-left: 13px;
    }
}



//style login

.wrap-login{
    height: 100vh;
    background: url('../img/banner-login-right.png') no-repeat right top/63% 100%, url('../img/banner-login-left.png') no-repeat left top;
     @media (max-width: 1366px) {
         background: url('../img/banner-login-right.png') no-repeat right top/66% 100%, url('../img/banner-login-left.png') no-repeat left top;
     }
    @include tablet{
        background: url('../img/banner-login-left.png') no-repeat left top;
        height: auto;
        min-height: 100vh;
    }
    @include mobile-horizontal{
        background-size: cover;
    }
}

.block-login{

    padding: 9vh 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    @include desktop{
        max-width: 1233px;
    }
    @include tablet{
        padding: 25px 15px;
        display: block;
    }
    @include mobile-horizontal{
        padding: 15px;
    }
}
.flex-login-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 120px;
    bottom: 79px;
    padding-top: 182px;
    @include laptop{
        left: 70px;
        padding-top: 159px;
    }
    @include tablet{
        position: unset;
        padding-top: 0;
        display: flex;
        height: unset;

    }

}
.logo-login{
    margin-bottom: 105px;
    @include laptop{
        margin-bottom: 60px;
    }
    @include tablet-horizontal{
        margin-bottom: 45px;
    }
    @include tablet{
        margin-bottom: 25px;
        height: 60px;
    }
    @include mobile-horizontal{
        margin-bottom: 20px;
    }
    @include mobile{
        margin-bottom: 15px;
        height: 55px;
    }
    img{
        @include tablet{
            height: 100%;
        }
    }
}
.txt-register{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 11px;
    @include tablet-horizontal{
        font-size: 18px;
        line-height: 22px;
    }
    @include mobile{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 9px;
    }

}
.title-login{
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
    @include laptop{
        font-size: 35px;
        line-height: 48px;
    }
    @include tablet-horizontal{
        font-size: 27px;
        line-height: 41px;
    }
    @include tablet{
        font-size: 24px;
        line-height: 33px;
    }
    @include mobile{
        font-size: 19px;
        line-height: 27px;
    }
}

.question-regis{
    color: #CDCDCD;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    @include tablet-horizontal{
        font-size: 14px;
        line-height: 18px;
    }
    @include tablet{
        margin-bottom: 24px;
    }
    @include mobile{
        margin-bottom: 20px;
    }
    a{
        margin-left: 5px;
        color: #FF5C1D;
        &:hover{
            text-decoration: underline;
        }
    }
}
.btn-question-ntd{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 286px;
    border: 1px solid #FF5C1D;
    border-radius: 8px;
    height: 48px;
    transition: all 0.3s ease-in-out;
    @include tablet-horizontal{
        width: 250px;
        height: 45px;
        font-size: 14px;
    }
    @include tablet{
        width: 240px;
        height: 40px;
        margin-bottom: 25px;
    }
    &:hover{
        color: #fff;
        background: #FF5C1D;
        transition: all 0.3s ease-in-out;
    }
}
.box-login{
    max-width: 437px;
    width: 100%;

    position: fixed;
    right: 15%;
    transform: translateY(-50%);
    top: 50%;
    @media (max-width: 1599px) {
        right: 168px;
    }
    @include tablet-horizontal{
        right: 55px;
        max-width: 380px;
    }
    @include tablet{
        position: unset;
        transform: translateY(0);
        max-width: 100%;
        background: #fff;
        border-radius: 8px;
        padding: 20px 25px;
        //max-height: 432px;
        overflow-y: auto;
        max-height: calc(100vh - 354px);
    }
    @include mobile-horizontal{
        padding: 20px 20px;

    }
    @include mobile{
        padding: 15px;
        max-height: calc(100vh - 290px);
    }
}

.box-register{
    top: 0;
    transform: translateY(0);
    margin-top: 149px;
    overflow-y: auto;
    max-height: calc(100vh - 149px);
    padding-bottom: 15px;

    @media(max-width: 1366px){
        margin-top: 90px;
        max-height: calc(100vh - 90px);
    }
    @include tablet{
        margin-top: 0;
        //max-height: 432px;
        max-height: calc(100vh - 354px);
    }
    @include mobile{
        padding: 15px;
        max-height: calc(100vh - 290px);
    }
    //@include mobile{
    //    max-height: calc(100vh - 354px);
    //
    //}
    &::-webkit-scrollbar {
        width: 0;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.form-login{
    padding: 0 12px;
    @include tablet{
        padding: 0;
    }
}
.txt-info-ac{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FF5C1D;
    margin-bottom: 25px;
    @include tablet{
        margin-bottom: 15px;
    }
    @include mobile{
        margin-bottom: 10px;
    }
}
.group-field{
    margin-bottom: 32px;
    @include tablet{
        margin-bottom: 25px;

    }
    @include mobile-horizontal{
        margin-bottom: 20px;
        &.group-field2{
            margin-bottom: 0;
        }
    }
    @include mobile{
        margin-bottom: 17px;
    }
}

.field-login{
    margin-bottom: 25px;
    @include laptop{
        margin-bottom: 18px;
    }
    @include tablet{
        margin-bottom: 13px;
    }
    @include mobile{
        margin-bottom: 11px;
    }
    label{
        margin-bottom: 12px;
        font-weight: 500;
        display: block;
        @include laptop{
            margin-bottom: 9px;
        }
        @include tablet{
            margin-bottom: 6px;
        }
        @include mobile{
            font-size: 13px;
        }
    }
    input{
        background: #F1F1F1;
        box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        height: 50px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #333;
        border: none;
        width: 100%;
        padding: 0 15px;
        &:focus{
            border: 1px solid #ff5c17;
        }
        &::placeholder{
            color: #CDCDCD;
        }
        @include laptop{
            height: 45px;
        }
        @include tablet{
            height: 40px;
        }
        @include mobile{
            height: 35px;
            border-radius: 5px;
        }
    }
    select{
        background: #F1F1F1 url("../img/Arrow.svg") no-repeat top 19px right 15px;
        box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        height: 50px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #333;
        border: none;
        width: 100%;
        padding: 0 15px;
        -webkit-appearance: none;
        &:focus,&:focus-within,&:focus-visible{
            border: 1px solid #ff5c17;
        }
        @include laptop{
            height: 45px;
        }
        @include tablet{
            height: 40px;
            background: #F1F1F1 url("../img/Arrow.svg") no-repeat top 15px right 15px;

        }
        @include mobile{
            border-radius: 5px;
            height: 35px;
            background: #F1F1F1 url("../img/Arrow.svg") no-repeat top 14px right 15px;
        }
    }
}
.cl-red{
    color: #FF5C1D;
}
.row-login{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.col-login{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 8px;
}
.display-pass{
    position: relative;
    .show-pass{
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        .img-eye{
            display: none;
        }
        .img-eyeslash{
            display: block;
        }
    }
}
.btn-registor{
    margin-top: 30px;
    background: #FF5C1D;
    border-radius: 8px 0 8px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    width: 100%;
    border: none;
    height: 54px;
    margin-bottom: 16px;
    @include laptop{
        margin-top: 15px;
    }
    @include tablet{
        height: 45px;
    }
    @include mobile-horizontal{
        font-size: 16px;
    }
    @include mobile{
        height: 38px;
        margin: 10px 0 10px;
        font-size: 14px;
    }
    &:hover{
        color: #fff;
        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }
}
.txt-suggest{
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    a{
        color: #3299DC;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
        }
    }
}


//style main

.main{
    padding: 73px 0;
    @include tablet{
        padding: 50px 0;
    }
    @include mobile-horizontal{
        padding: 40px 0;

    }
    @include mobile{
        padding: 30px 0;

    }
}
.bread-crumb{
    margin-bottom: 33px;
    @include tablet{
        margin-bottom: 27px;
    }
    @include mobile-horizontal{
        margin-bottom: 25px;

    }
    a{
        transition: all 0.2s ease-in-out;
    }
    a:hover{
        color: #FF5C1D;
        transition: all 0.2s ease-in-out;
    }
    span{
        font-size: 16px;
        line-height: 122%;
        color: #161616;
        &:last-child{
            color: #666;
        }
    }
}

.job-fitness{
    .item-job{
        padding: 17px 32px 7px 26px;
        @include mobile-horizontal{
            padding: 15px 32px 7px 15px;
        }
        .logo-job{
            margin-right: 27px;
            @include mobile-horizontal{
                margin-right: 15px;
            }
            a{
                width: 60px;
                height: 60px;
                @include mobile-horizontal{
                    width: 50px;
                    height: 50px;
                }
                @include mobile{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .info-bot{
            @include mobile{
                display: block;
            }
        }
        .info-bot > span{
            margin-right: 126px;
            &:last-child{
                margin-right: 0;
            }
            @include tablet-horizontal{
                margin-right: 70px;
            }
            @include mobile-horizontal{
                margin-right: 45px;
            }
            @include mobile{
                margin-right: 0;
                display: block;
                &:last-child{
                    display: flex;
                }
            }
        }
        .btn-opportunities{
            opacity: 0;
            visibility: hidden;
            @include tablet-horizontal{
                opacity: 1;
                visibility: visible;
            }
        }
        &:hover{

            .btn-opportunities{
                transition: all 0.2s ease-in-out;
                opacity: 1;
                visibility: visible;

            }
        }
    }
}

.btn-opportunities{
    background: #FF5C1D;
    border-radius: 8px 0 8px 0;
    position: absolute;
    right: 16px;
    bottom: 16px;
    height: 40px;
    width: 120px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    @include mobile-horizontal{
        height: 35px;
        width: 105px;
    }

    &:hover{
        color: #fff;
        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }

}

.blockfit{
    display: block;
    transition: all 0.3s ease-in-out;
    margin-bottom: 16px;

    &:hover{
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
    }
}

//style pa.ing

.paging{
    font-size: 16px;
    background: #EEEEEE;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    margin-top: 29px;
    @include tablet{
        margin-bottom: 30px;
    }
    @include mobile-horizontal{

        font-size: 14px;
        margin-bottom: 25px;

    }
    @include mobile{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .view-row{
        display: flex;
        align-items: center;
        @include mobile{
            margin-bottom: 10px;
        }
        select{
            margin-left: 19px;
            font-weight: 600;
            line-height: 20px;
            border: none;
            background: transparent;
            @include mobile-horizontal{
                margin-left: 10px;
            }
        }
    }
}
.number-page{
    button{
        margin-left: 10px;
        padding: 10px;
        width: 42px;
        height: 34px;
        border: none;
        background: transparent;
        font-size: 14px;
        line-height: 18px;
        color: #242731;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            color: #3299DC;
        }
        &:hover{
            color: #3299DC;
        }
        @include mobile-horizontal{
            padding: 0;
            width: 28px;
            height: 32px;
        }
    }
}



//style chi tiet cong viẹc

.similar-job{
    .title-similar{
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #161616;
        margin-bottom: 32px;
        @include tablet-horizontal{
            font-size: 28px;
            line-height: 34px;
            color: #161616;
            margin-bottom: 28px;
        }
        @include tablet{
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        @include mobile-horizontal{
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 18px;
        }
        @include mobile{
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 15px;
        }
    }
}
.box-violet{
    background: #FBFAFF;
    border-radius: 8px;
    padding: 29px 40px 46px 24px;
    @include tablet-horizontal{
        padding: 29px 17px 46px 17px;
    }
    @include tablet{
        padding: 25px;
    }
    @include mobile-horizontal{
        padding: 20px;
    }
    @include mobile{
        padding: 15px;
    }
}
.title-orange{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FF5C1D;
    margin-bottom: 24px;
    @include tablet-horizontal{
        font-size: 18px;
        margin-bottom: 20px;
    }
    @include mobile{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
    }
}
.list-description{
    li{
        position: relative;
        font-size: 16px;
        line-height: 122%;
        color: #000000;
        padding-left: 13px;
        margin-bottom: 18px;
        @include mobile-horizontal{
            margin-bottom: 15px;
        }
        @include mobile{
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 19px;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &:before{
            content: '';
            position: absolute;
            left: 0px;
            top: 7px;
            background: #666666;
            width: 4px;
            height: 4px;
            border-radius: 50%;
        }
    }
}

.line-gray {
    height: 1px;
    margin: 37px 0 44px;
    background: #CDCDCD;
    @include tablet{
        margin: 32px 0;
    }
    @include mobile-horizontal{
        margin: 25px 0;
    }
    @include mobile{
        margin: 20px 0;
    }
}
.list-info-job{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
    }
    li{
        position: relative;
        padding-left: 40px;
        margin-bottom: 10px;
        @include tablet-horizontal{
            padding-left: 29px;
        }
        @include tablet{
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include mobile{
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 35px;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        img{
            position: absolute;
            top: 4px;
            left: 11px;
            @include tablet-horizontal{
                left: 0;
            }
        }
        .info-right{
            label{
                font-size: 16px;
                line-height: 122%;
                margin-bottom: 3px;
                color: #666666;
                @include mobile{
                    font-size: 14px;
                    line-height: 17px;
                }
            }
            .info-field{
                font-weight: 600;
                min-height: 48px;
                font-size: 16px;
                line-height: 20px;
                color: #333333;
                @include mobile{
                    min-height: auto;
                    font-size: 14px;
                    line-height: 20px;
                }
                &.info-highlight{
                    color: #3299DC;

                }
            }
        }
    }
}
.box-violet.box-violet-right{
    padding: 29px 41px 17px 17px;
    @include tablet-horizontal{
        padding: 29px 17px 17px 17px;
    }
    @include tablet{
        padding: 25px;
    }
    @include mobile-horizontal{
        padding: 20px;
    }
    @include mobile{
        padding: 15px;
    }
}
.box-violet-company{
    padding: 38px 34px 46px 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet-horizontal{
        padding: 29px 17px 29px 17px;
    }
    @include tablet{
        padding: 25px;
    }
    @include mobile-horizontal{
        padding: 20px;
        display: block;
    }
    @include mobile{
        padding: 15px;
    }
    .title-orange{
        margin-bottom: 32px;
        @include tablet-horizontal{
            margin-bottom: 20px;
        }
        @include mobile{
            margin-bottom: 15px;
        }
    }
    .txt-company{
        font-weight: 600;
        font-size: 18px;
        line-height: 131.9%;
        margin-bottom: 6px;
        color: #3299DC;
        @include tablet-horizontal{
            font-size: 16px;
            line-height: 131.9%;
        }
        @include mobile{
            font-size: 14px;
        }
    }
    .address-company{
        font-weight: 500;
        font-size: 16px;
        line-height: 131.9%;
        margin-bottom: 14px;
        @include tablet-horizontal{
            font-size: 14px;
        }
    }
    .info-contact{
        display: flex;
        align-items: center;
        margin-bottom: 9px;
        span{
            font-weight: 500;
            font-size: 16px;
            line-height: 131.9%;
            color: #666666;
            min-width: 94px;
            @include mobile{
                font-size: 14px;
            }
            &:last-child{
                font-size: 13px;
                line-height: 16px;
                color: #333333;
            }
        }
    }
}
.frame-map{
    width: 444px;
    @include mobile-horizontal{
        width: 100%;
    }
}
.mb-23{
    margin-bottom: 23px;
    @include mobile-horizontal{
        margin-bottom: 20px;
    }
}
.link-contact{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FF5C1D;
    border-radius: 8px 0 8px 0;
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet-horizontal{
        font-size: 14px;
    }
    @include tablet{
        width: 300px;
        margin: 0 auto;
    }
    @include mobile{
        width: 259px;
        height: 42px;
    }
    &:hover{
        color: #fff;
        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }
}
.info-left{
    @include tablet-horizontal{
        margin-right: 10px;
    }
    @include mobile-horizontal{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.detail-job{
    margin-bottom: 32px;
    @include mobile-horizontal{
        margin-bottom: 25px;
    }
    @include mobile{
        margin-bottom: 5px;
    }
}


.list-tag {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    border-top: 1px dashed #CDCDCD;
    li{
        display: flex;
        margin-right: 30px;
        margin-bottom: 8px;
        color: #FF5C1D;
        img{
            margin-right: 5px;
        }
    }
}

.list-candidate{
    .item-job{
        margin-bottom: 24px;
        .logo-job{
            margin-right: 19px;
            a{
                width: 78px;
                height: 78px;
            }
        }
        .info-bot > span{
            margin-right: 42px;
            @include tablet-horizontal{
                margin-right: 21px;
            }
        }
    }
}

//style Danh sách ứng viên
//end style main