// ======================================================
// Layout :: Content
// ======================================================

.sc-outstanding{

}
.title-sc{
    font-weight: 600;
    font-size: 35px;
    line-height: 39px;
    span{
        color: #FF5C1D;
    }
}

.sc-outstanding{
    padding: 75px 0 ;
    .title-sc{
        margin-bottom: 54px;
    }
}
.block-job{
    .box-job{
        transition: all 0.3s ease-in-out;
        margin-bottom: 15px;
        &:first-child{
            border-radius: 8px 0 8px 0;
        }
        &:hover{
            color: currentColor;
            transform: translateY(-10px);
            transition: all 0.3s ease-in-out;
        }
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        height: 100%;
        padding: 30px 31px 16px;
        .img-job{
            margin-bottom: 62px;
        }
        .txt-job{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #666666;
            margin-bottom: 9px;
        }
        .title-job{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 12px;
            text-transform: uppercase;
        }
        .number-job{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FF5C1D;

        }
    }
    .other-job{
        background: #FF5C1D;
        margin-bottom: 15px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px 0 8px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        color: #fff;
        transition: all 0.3s ease-in-out;
        img{
            margin-bottom: 23px;
        }
        div{
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
        }
        &:hover{
            transform: translateY(-10px);
            transition: all 0.3s ease-in-out;
        }
    }
}
.flex-cs-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

//end style sc-outstanding


.sc-jobforyou{
    background: #FBFAFF;
    padding: 55px 0 100px;
    .title-sc{
        margin-bottom: 49px;
    }

}
.link-viewall{
    color: #666666;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    transition: all 0.2s ease-in-out;
    span{
        margin-right: 8px;
    }
    &:hover{
        color: #FF5C1D;
        transition: all 0.2s ease-in-out;
    }
}
.list-job{
    margin-bottom: 8px;
    .item-job{
        position: relative;
        display: block;
        margin-bottom: 16px;
        padding: 15px 32px 8px 21px;
        border-radius: 8px 0 8px 0 ;
        background: #FBFAFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;

        span{
            display: block;
        }
        &:hover{
            background: #fff;
            transition: all 0.2s ease-in-out;
            .name-company{
                color: #FF5C1D;
                transition: all 0.2s ease-in-out;
            }
        }
    }
}
.flex-left{
    display: flex;
}
.logo-job{
    margin-right: 15px;
    a{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        &:before{
            @include resize-before(100%);

        }
        img{
            @include resize-img;
            object-fit: cover;
        }
    }
}
.tag-new{
    color: #FF5C1D;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    border-radius: 3px 0 3px 0;
    background: #FFE3D8;
    margin-right: 5px;
    padding: 3px 5px;
    display: inline-block;
}
.info-job{
    .title-jobforyou{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 7px;
        color: #161616;
        a{
            display: flex;
            align-items: center;
            &:hover{
                color: #161616;
                span{
                    text-decoration: underline;
                }
                .tag-new{
                    text-decoration: none;
                }
            }
        }
    }
    .name-company{
        color: #666666;
        margin-bottom: 24px;
    }
    .info-bot{
        display: flex;
        > span{
            display: inline-flex;
            align-items: center;
            margin-bottom: 8px;
            margin-right: 26px;

            &:last-child{
                margin-right: 0px;
            }
            img{
                margin-right: 5px;
            }
            .nb-money{
                color: #3299DC;
                font-weight: 600;
                margin-bottom: 0;
            }
        }
    }
}
.flag{
    position: absolute;
    top: 11px;
    right: 14px;
    &:before{
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 14px;
        height: 18px;
        background: url("../img/flag.svg") no-repeat center center;
        background-size: cover;
    }
    &.active{
        &:before{
            background: url("../img/flagactive.svg") no-repeat center center;
        }
    }
}
.btn-recruitment{
    position: absolute;
    bottom: 23px;
    right: 14px;
    padding: 10px 21px 11px;
    font-weight: 600;
    color: #fff;
    display: inline-flex;
    border-radius: 8px 0 8px 0;
    transition: all 0.2s ease-in-out;

    background: #FF5C1D;
    &:hover{
        color: #fff;

        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }
}


.item-job-hot{
    position: relative;
    background: #FBFAFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 12px 23px 33px 23px;
    border-radius: 8px 0 8px 0;
    margin-bottom: 16px;
    transition: all 0.2s ease-in-out;
    &:hover{
        background: #fff;
        transition: all 0.2s ease-in-out;
        .name-company{
            color: #FF5C1D;
        }
    }
    //.logo-job{
    //    text-align: center;
    //    margin-right: 0;
    //    margin-bottom: 27px;
    //    a{
    //        margin: 0 auto;
    //        width: 49px;
    //        height: 49px;
    //    }
    //}
    .sub-hot{
        color: #666666;
        line-height: 19px;
        margin-bottom: 13px;
    }
    .title-jobforyou{
        margin-bottom: 8px;
    }
    .name-company{
        margin-bottom: 8px;
    }
    .info-bot{
        display: block;
        >span{
            display: block;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}
.viewall{
    margin: 32px 60px;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    &:hover{
        text-decoration: underline;
    }
}

.recruitment{
    margin-top: 82px;
    .swiper-pagination{
        left: 50%;
        transform: translateX(-50%);
        margin-top: 32px;
        .swiper-pagination-bullet{
            width: 7px;
            height: 7px;
            margin-right: 8px;
            &:last-child{
                margin-right: 0;
            }
            &.swiper-pagination-bullet-active{
                background: #FF5C1D;
                width: 24px;
                border-radius: 35px;
            }
        }
    }
}
.block-job-hot{
    padding: 2px;
    overflow-y: auto;
    min-height: 300px;
    margin-bottom: 20px;
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #C8C8C8;
        border-radius: 10px;
   }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

//end style section job for you

.sc-looking-candidates{
    padding: 137px 0 101px;
    background: url("../img/bg-looking.png") no-repeat top right;
    .title-sc{
        margin-top: 38px;
        margin-bottom: 57px;
        width: 60%;
    }
}

.sub-looking{
    margin-bottom: 66px;
    p{
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 131.9%;
        width: 96%;
    }
}
.btn-find-cadidates{
    background: #FF5C1D;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 134.9%;
    color: #FFFFFF;
    border-radius: 8px 0 8px 0 ;
    width: 408px;
    height: 77px;
    transition: all 0.2s ease-in-out;

    &:hover{
        color: #fff;
        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }
    img{
        margin-right: 9px;
    }
}

.list-criteria{
    .item-criteria{
        margin-right: 25px;
        margin-bottom: 10px;
        display: inline-block;
        width: 238px;
        height: 270px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 0 21px 15px;
        float: left;
        &:nth-child(2),&:nth-child(4){
            margin-right: 0;
        }
        &:nth-child(2){
            margin-top: 18px;
        }
        &:nth-child(4){
            margin-top: 18px;
        }
        .img-criteria{
            background: #FF5C1D;
            width: 84px;
            height: 86px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 0 50% 50%;
            margin: 0 auto 10px;
            &.img-criteria-blue{
                background: #3299DC;
            }
        }
        .title-criteria{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #161616;
            margin-bottom: 24px;

        }
        .sub-criteria{
            line-height: 131.9%;
            text-align: justify;
        }
    }

}

//end style sc-looking-candidates

.sc-contact{
    padding: 83px 0 94px;
    background: url("../img/bg-contact-opacity.png") no-repeat left center, url("../img/bg-contact.png") no-repeat center ;
    background-size: cover;
    color: #fff;
    position: relative;
}
.head-contact{
    .title-contact{
        font-weight: 600;
        font-size: 69.7652px;
        line-height: 85px;
        text-transform: uppercase;
    }
    .sub-contact{
        font-weight: 500;
        font-size: 35px;
        line-height: 43px;
    }

}
.flex-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .item-contact{
       display: flex;
        align-items: flex-start;
        img{
            margin-right: 27px;
            margin-top: 6px;
        }
        .nb-phone{
            font-weight: 600;
            font-size: 38px;
            line-height: 46px;
            margin-bottom: 15px;
        }
        .subfo-nb{
            font-size: 16px;
            line-height: 20px;
            color: #DADADA;
        }
    }
}
.contact-us{
    position: absolute;
    left: 0;
    bottom: -29px;
    width: 100%;
    .box-contact{
        position: relative;
        input{
            background: #FFFFFF;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 79px;
            border-radius: 25px 0 25px 0;
            border: none;
            padding: 0 150px 0 54px;
            &::placeholder{
                color: #666666;
                font-size: 18px;
                line-height: 22px;
            }
        }
        .btn-send{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 144px;
            background: #FF5C1D;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            border-bottom-right-radius: 25px;
            border: none;
            transition: all 0.2s ease-in-out;
            &:hover{
                background: #fd7a47;
                transition: all 0.2s ease-in-out;
            }
        }
    }
}
.sc-partner{
    padding: 127px 0 71px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.partner{
    .swiper-pagination{
        display: none;
    }
}

//end style section partner

.sc-news{
    padding: 55px 0 92px;
    .title-sc{
        margin-bottom: 49px;
    }
}
.box-news{
    border-radius: 8px;
    .title-sc{

    }
    .img-news{
        overflow: hidden;
        position: relative;
        display: block;
        &:before{
            @include resize-before(64.22%);
        }
        img{
            @include resize-img;
            object-fit: cover;
        }
    }
}
.br-8{
    border-radius: 8px;
}
.time-news{
    display: flex;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 21px;
    img{
        margin-right: 11px;
    }
    span{
        display: inline-flex;
        align-items: center;
        color: #393939;
        &.kind-news{
            color: #3299DC;
            font-weight: 500;
        }
    }
}
.info-news{
    padding: 15px 18px 43px;
    background: #FBFAFF;
    border-radius: 0 0 8px 8px;

    .divider-line{
        margin: 0 16px;
    }
    .title-news{
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #393939;
        margin-bottom: 20px;

        a{
            overflow: hidden;
            /* -webkit-box-orient: vertical; */
            white-space: normal;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            transition: all 0.2s ease-in-out;
            &:hover{
                color: #FF5C1D;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    .sub-news{
        color: #313435;
        font-size: 16px;
        line-height: 21px;
        overflow: hidden;
        /* -webkit-box-orient: vertical; */
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
    }
}

.list-news{
    li{
        display: flex;
        margin-bottom: 24px;
        .img-news-list{
            display: block;
            width: 124px;
            margin-right: 20px;
            img{
                width: 100%;
            }
        }
        .news-list-right{
            width: calc(100% - 144px);
            img{
                width: 11px;
            }
            span{
                font-size: 13px;
                line-height: 17px;
            }
            .divider-line{
                margin: 0 8px 0 11px;
            }
            .kind-news{
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
            }
            .title-sidebar{
                font-size: 14px;
                line-height: 18px;
                color: #313435;
                a{
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        color: #FF5C1D;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}
.bg-violet{
    background: #FBFAFF;
    border-radius: 8px;
    padding: 24px 16px 55px;
    position: relative;

}
.viewmore{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    width: 200px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF5C1D;
    height: 51px;
    transition: all 0.2s ease-in-out;
    border-radius: 8px 0 8px 0;
    &:hover{
        color: #fff;
        background: #fd7a47;
        transition: all 0.2s ease-in-out;
    }
    img{
        margin-left: 13px;
    }
}