// ======================================================
// Layout :: Footer
// ======================================================

#back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 31px;
    height: 31px;
    background: $c-bl;
    color: #fff;
    text-align: center;
    line-height: 31px;
    font-size: 18px;
    font-weight: bold;
    background-size: 100% 100%;
    display: none;
    z-index: 100;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    &:hover{
        background: rgb(8, 51, 107);
    }
}

.footer{
    position: relative;
    color: #fff;
    padding-top: 95px;
    //background: url("../img/bg-footer3.png") no-repeat top center, url("../img/bg-footer4.png") no-repeat top 265px center;

    background: url("../img/bg-footer.png") no-repeat top right;
    background-size: cover;
    @include laptop{
        padding-top: 75px;
    }
    @include tablet-horizontal{
        padding-top: 120px;
    }
    @include mobile{
        background: url("../img/bg-foot-mb.png") no-repeat top right;
        background-size: cover;
        padding-top: 52px;
    }
    .logo-foot{
        margin-bottom: 18px;
        img{
            @include tablet-horizontal{
                width: 23%;
            }
            @include mobile{
                width: 151px;
            }
        }
    }
    .sub-foot{
        margin-top: 26px;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 57px;
        @include tablet-horizontal{
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 23px;
        }
        @include mobile-horizontal{
            width: 82%;
            margin-top: 31px;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 24px;
        }
    }
    .list-connect{
        display: flex;
        @include tablet-horizontal{
            margin-bottom: 30px;
        }
        @include mobile{
            margin-bottom: 51px;
        }
        li{
            margin-right: 10px;
            a{
                img{
                    transition: all 0.2s ease-in-out;
                }
                &:hover{
                    img{
                        transition: all 0.2s ease-in-out;
                        transform: scale(1.1);
                    }
                }

            }
        }
    }
    .title-foot{
        color: #FF5C1D;
        font-weight: 600;
        font-size: 20px;
        line-height: 131.9%;
        margin-bottom: 24px;
        @include tablet-horizontal{
            margin-bottom: 20px;
        }
        @include mobile{
            font-size: 16px;
            line-height: 131.9%;
            margin-bottom: 16px;
        }
    }
    .list-info-foot{
        li{
            display: flex;
            margin-bottom: 24px;
            align-items: flex-start;
            font-size: 15px;
            line-height: 20px;
            @include tablet-horizontal{
                margin-bottom: 18px;
            }
            @include mobile{
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 19px;
                &:last-child{
                    margin-bottom: 31px;
                }
            }
            img{
                margin-right: 7px;
            }
            a{
                color: #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .list-info-bot{
        li{
            @include mobile{
                &:last-child{
                    margin-bottom: 24px;
                }
            }
        }
    }
}

.copy-right{
    text-align: right;
    border-top: 1px solid #272841;
    padding: 15px 0;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 40px;
    @include tablet-horizontal{
        padding: 10px 0;
    }
    @include mobile{
        text-align: center;
        font-size: 10px;
        line-height: 17px;
        padding: 15px 0;
    }
}