// ======================================================
// Layout :: Grid
// ======================================================

@media(min-width: 1200px){
  .container{
    max-width: 1223px;
    width: 100%;
    margin: 0 auto;
    padding: 0 14px;
  }
}

.row-8{
  margin: 0 -8px;
}
.pd-8{
  padding: 0 8px;
}
.row-9{
  margin: 0 -9px;
}
.pd-9{
  padding: 0 9px;
}
.row-10{
  margin: 0 -10px;

}
.p-10{
  padding: 0 10px;
}