// ======================================================
// Layout :: Navigation
// ======================================================

.nav{
    @include tablet{
        position: fixed;
        width: 300px;
        top: 62px;
        height: 100%;
        left: -300px;
        transition: all 0.3s;
        z-index: 9;
        background: #222c3f;
        border-top: 1px solid #797979;
        &.open-mb{
            left: 0;
            transition: all 0.3s;
        }

    }
    @include mobile{
        width: 100%;
        left: -100%;
    }
    >ul{

        display: flex;
        @include tablet{
            display: block;
            width: 100%;
        }
        >li{
            position: relative;
            margin-right: 49px;
            transition: all 0.3s ease-in-out;
            @include tablet-horizontal{
                margin-right: 25px;
            }
            @include tablet{
                margin-right: 0;
            }
            >a{
                display: block;
                padding: 38px 5px;
                position: relative;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                transition: all 0.2s ease-in-out;
                color: #FFFFFF;
                @include laptop{
                    padding: 34px 5px 20px;
                }
                @include tablet{
                    display: block;
                    padding: 20px 15px 20px;
                }
                @include mobile-horizontal{
                    font-size: 14px;
                }

                i{
                    margin-left: 9px;
                    transition: all 0.3s ease-in-out;
                }
            }
            &:after{
                content: '';
                height: 2px;
                background: #FF5C1D;
                width: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%) scaleX(0);
                bottom: 0;
                transition: all 0.3s ease-in-out;
                border-radius: 10px;
                @include tablet{
                    display: none;
                }
            }
            &:hover{
                color: #FF5C1D;
                transition: all 0.2s ease-in-out;
            }
            &:hover:after{
                transform: translateX(-50%) scaleX(1);
                transition: all 0.3s ease-in-out;
            }
            &.has-drop{
                &.active{
                    >a{
                        >i{
                            transform: rotate(180deg);
                            @include tablet{
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }

            .menu-child{
                position: absolute;
                top: 100%;
                left: 0;
                width: 300px;
                background: rgba(54, 65, 85,1);
                border-radius: 8px 0 8px 0;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.22);
                opacity: 0;
                visibility: hidden;
                transform: translateY(20px);
                transition: all 0.3s ease-in-out;
                @include tablet{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(00px);
                    transition: all 0s;
                    position: unset;
                    width: 100%;
                }
                li{

                    a{
                        display: block;
                        padding: 16px 20px;
                        color: #fff;
                        &:hover{
                            background: rgba(73, 81, 96,0.5);
                        }
                    }
                }
            }
            &:hover{
                .menu-child{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                    transition: all 0.3s ease-in-out;
                    @include tablet{
                        transition: all 0s;
                    }

                }
            }
        }
    }
}

