// ======================================================
// Layout :: Navigation
// ======================================================

//-webkit-animation-name: hvr-icon-wobble-vertical;
//animation-name: hvr-icon-wobble-vertical;
//-webkit-animation-duration: 1s;
//animation-duration: 1s;
//-webkit-animation-timing-function: ease-in-out;
//animation-timing-function: ease-in-out;
//-webkit-animation-iteration-count: 1;
//animation-iteration-count: 1;


.m6k467ps {
  -webkit-filter: var(--filter-secondary-icon);

}
.hu5pjgll {
  vertical-align: -0.25em;
}
.header-home{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0 ,0.14);
  padding: 8px 0;
  z-index: 99;
  .header-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-left{
      display: flex;
      align-items: center;
    }
  }
  .navigation{
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    padding: 30px 0;
    background: #fff;
    box-shadow: 0 6px 8px rgba(0, 0, 0,0.05);
    .nav-block{
      display: flex;
      justify-content: space-between;
      ul{
        li{
          a{
            padding: 7px 0;
            display: inline-block;
            color: #5b5a5a;
            &:hover{
              color: #3576F1;
            }
          }
        }
      }
    }
  }
}
.logo{
  margin-right: 12px;
}
.box-search{
  position: relative;
  input{
    height: 40px;
    font-size: .9375rem;
    padding: 9px 16px 9px 36px;
    background: #F0F2F5;
    border: none;
    border-radius: 30px;
    &::placeholder{
      color: #75777B;
    }
    &:focus{
      &::placeholder{
        color: #989B9F;
      }
    }
  }
  i{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/5icoSMIsYQv.png);
    background-position: 0 -1159px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    filter: invert(49%) sepia(7%) saturate(191%) hue-rotate(182deg) brightness(93%) contrast(93%);

  }
}
.header-right{
  display: flex;
  align-items: center;
}
.btn-category{
  background: #E4E6EB;
  height: 40px;
  border: none;
  transition: all 0.2s ease;
  padding: 5px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;

  &:hover{
    background: #D8DADF;
    transition: all 0.2s ease;
  }
  &:active{
    background: rgba(0, 0, 0,0.18);
  }
  &:focus{
    outline: none;

  }
  svg{
    width: 17px;
    margin-right: 7px;
  }
}
.upload-post{

  margin-left: 8px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  padding: 5px 20px;
  border-radius: 30px;
  background: #E4E6EB;
  height: 40px;
  border: none;
  cursor: pointer;
  &:hover{
    background: #D8DADF;
    transition: all 0.2s ease;
    img{
      -webkit-animation-name: hvr-icon-wobble-vertical;
      animation-name: hvr-icon-wobble-vertical;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
  }

  label{
    color: #050505;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
      width: 17px;
      margin-right: 10px;
    }
  }
  &:active{
    background-color: rgba(0, 0, 0, .18);
  }

}
.link-login{
  margin-left: 8px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  padding: 5px 20px;
  border-radius: 30px;
  background-image: linear-gradient(to top, #0163E1 0%, #0C87EF 50%, #19AFFF 100%);
  height: 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  background-size: auto 200%;
  &:hover{
    color: #fff;
    background-position: 100% center;
    transition: all 0.2s ease;
  }
}