// ======================================================
// Components :: Button
// ======================================================

.btn-lightblue{
    color: #1877f2;
    display: block;
    width: 100%;
    background: #E8F3FF;
    border-radius: 6px;
    padding: 10px 5px;
    transition: all 0.2s ease;
    border: none;
    font-weight: 500;
    &:hover{
        background: #DCE7F2;
        transition: all 0.2s ease;
    }

}
button:focus{
    outline: none;
}
.ripple {
    overflow: hidden;
    position: relative;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    animation: ripple-animation 2s;
}
